@font-face {
  font-family: "iconfont"; /* Project id 2370869 */
  src: url('iconfont.woff2?t=1672061880462') format('woff2'),
       url('iconfont.woff?t=1672061880462') format('woff'),
       url('iconfont.ttf?t=1672061880462') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-car:before {
  content: "\e7d7";
}

.icon-fenlei:before {
  content: "\e606";
}

.icon-gouwuche:before {
  content: "\e699";
}

.icon-gouwuche1:before {
  content: "\e605";
}

.icon-wode1:before {
  content: "\e7d2";
}

.icon-shouye:before {
  content: "\e60b";
}

